<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>B2B V2.0</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="{{url_for('static', filename='getresults.js')}}"></script>
    <script src="{{url_for('static', filename='buttons.js')}}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/9c04498f1b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="{{url_for('static', filename='b2b.png')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>

    <div>
      <img
        src="{{url_for('static', filename='banner.svg')}}"
        alt=""
        style="
          height: 50%;
          width: 100%;
          background-color: #780116;
          padding-top: 5px;
        "
      />
    </div>
    <div class="container d-flex pt-4 pt-xl-5">
      <button
        class="btn"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <i class="fa-solid fa-bars fa-2x"></i>
      </button>
      <h2 class="p-2">Пикесели на екран</h2>
    </div>
    <div class="container-fluid pb-5">
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Задачи</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="list-group">
            <button
              type="button"
              class="list-group-item list-group-item-action"
              onclick="location.href = `${window.location.protocol}//${window.location.host}/zadaca1/`;"
              aria-current="true"
            >
              Задача 1
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              onclick="location.href = `${window.location.protocol}//${window.location.host}/zadaca2/`;"
            >
              Задача 2
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              onclick="location.href = `${window.location.protocol}//${window.location.host}/zadaca3/`;"
            >
              Задача 3
            </button>
          </div>
        </div>
      </div>

      <div class="container pt-xl-5">
        <p class="h5">
          Малиот Борис сакаше да му нацрта на неговиот другар Стефан колку пиксели има на неговиот екран, но за жал Борис не знаеше да број сеуште.<br><br>
          Ваша задача е да направите програма за Борис која црта екран со големина n x n така што сите пиксели на рамката на екранот ќе бидат X и сите внатрешни пиксели ќе бидат # а најдоле десно ке има копче за вклучување на екранот О, ако внесениот број е помал од 1 да се испечати само O .<br><br>
          Влез<br><br>
          Во првиот ред се наоѓа природниот број N(-1<=n<=25) кој е потребен за печатење на екранот.<br><br>
          Излез<br><br>
          Излезот се состои од екранот направен според горе наведените постапки на дадениот број.
        </p>
      </div>
      <div class="container pt-5">
        <table class="table w-50 h5">
          <thead class="border-dark">
            <tr>
              <th scope="col">Input</th>
              <th scope="col">Output</th>
            </tr>
          </thead>
          <tbody class="border-dark">
            <tr>
              <th scope="row">5</th>
              <td>XXXXX<br>
                X###X<br>
                X###X<br>
                X###X<br>
                XXXXO</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>XX<br>
                XO</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center p-2">
      <div class="form-group w-50">
        <label for="inputcode" class="fw-bold">Input Code</label>
        <textarea
          class="form-control border border-danger-subtle mt-1"
          id="code"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div id="results" class="d-flex justify-content-center align-content-center p-3"></div>
    <div class="container d-flex justify-content-between p-5">
      <div>
        <button type="button" class="btn" id="prev" onclick="previousButton()">
          <i class="fa-solid fa-backward fa-2x"></i>
        </button>
        <button type="button" class="btn" id="next" onclick="nextButton()">
          <i class="fa-solid fa-forward fa-2x"></i>
        </button>
      </div>
      <div class="div">
        <button type="button" class="btn btn-lg btn-outline-success" id="myButton1" onclick="displayDataInTable('myButton1') ">
          Check Problem
        </button>
      </div>
    </div>
    <div class="container-fluid border d-flex justify-content-center" style="background-color: rgba(207, 207, 207, 0.628);">
      <div>© Stefan Saveski © Boris Gjorgievski - Hosting assisted by Base42</div>
    </div>
  </body>
</html>
